body {
    font-family: 'Arial', sans-serif;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.converter-container {
    background: transparent;
    border-radius: 10px;
    padding: 25px 15px; /* Increased vertical padding */
    box-shadow: none;
    width: 300px; /* Original width */
    text-align: center;
}

input, select, button {
    width: calc(100% - 30px); /* Original width */
    padding: 12px; /* Increased vertical padding */
    margin: 8px 0; /* Increased vertical margin */
    border-radius: 5px;
    border: 1px solid #333;
    background: transparent;
    color: #333;
    font-size: 0.9em;
}

button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="#333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
    color: #333;
}

@media (max-width: 600px) {
    .converter-container {
        width: 90%;
        padding: 20px 10px; /* Adjusted padding for smaller screens */
    }

    input, select, button {
        width: calc(100% - 20px);
        padding: 10px; /* Adjusted padding for smaller screens */
    }
}
