body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #1a1a1a; /* Dark background for crypto theme */
    color: #ffffff; /* White text */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.converter-container {
    background:#333333; /* Slightly lighter background for the container */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 399px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); /* Adding some shadow for depth */
}

input, select, button {
    width: calc(90% - 50px);
    padding: 14px;
    margin: 18px 0;
    border-radius: 8px;
    border: 2px solid #ffffff; /* Lighter border */
    background: #000000; /* Darker input background */
    color: #ffffff;
    font-size: 1em;
}

button {
    background-color: #000000; /* Green color for the button */
    color: #fff;
    cursor: pointer; /* Cursor change to indicate clickability */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

button:hover {
    background-color: #367c39; /* Darker shade on hover */
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #4CAF50;
    word-wrap: break-word; /* Ensure long text doesn't overflow */
}

/* Loading animation styles remain unchanged */
